/* colors */
$primary: #D53DEA;
$primary-hover: #EB5BFF;

/* font */
$font: 'Montserrat', Arial, sans-serif;
$large: 1.2rem;
$title: 4.375rem;
$subtitle: 3.75rem;

/* responsiveness breakpoints */
$tablet: 1023px;
$mobile: 767px;
